@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'IRANSans';
  src: url('/path-to-font/IRANSans.woff2') format('woff2');
}

body {
  font-family: 'IRANSans', Arial, sans-serif;
}
